<div style="background-color: yellow;">
    <p>Hi <%= blog.author.name %>!</p>
    <br>
    <br>
    <p>Your Blog with title <strong><%= blog.title %></strong> just got published !!</p>
    <br>
    <br>
    <p>thanks!</p>
</div>